*
!.env.development
!.env.production
!.eslintrc.json
!.npmrc
!.prettierrc
!index.html
!package.json
!public/
!packages/
!scripts/
!src/
!tsconfig.json
!vite.config.mts
!yarn.lock

# keep (sub)sub directories at the end to exclude from explicit included
# e.g. ./packages/excalidraw/{dist,node_modules}
**/build
**/dist
**/node_modules
